<ng-container *ngIf="data$ | async as data">
  <pre style="display:none;">     {{ data | json }}    </pre>
  <ng-container *ngIf="weather | async as weather">
    <pre style="display:none;">     {{ weather | json }}    </pre>
    <h1 class="center">Current weather forecast for {{ weather.city.name }}</h1>
    <ng-container *ngFor="let l of weather.list" class="weather-container">
      <div>
        <div class="cx-label">
          {{ l.dt * 1000 | date: "MMM d, h a" }}
        </div>
        <div class="cx-label">
          <ng-container *ngFor="let w of l.weather">
            <img src="http://openweathermap.org/img/wn/{{ w.icon }}.png" />
          </ng-container>
          {{ l.main?.temp - 273.15 | number: "1.0-0" }}<sup>o</sup>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
